<%-include('includes/head.ejs') %>

<body class="hold-transition sidebar-mini layout-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('includes/navbar.ejs') %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">ሀገርኛ Appstore | Developer</span>
      </a>

      <!-- Sidebar -->
      <%- include('includes/sidenav.ejs') %>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3>Developer Profile</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">

             <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="card card-widget widget-user shadow">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-info">
                  <h3 class="widget-user-username">ሀገርኛ Appstore</h3>
                  <h5 class="widget-user-desc">AR Market place</h5>
                </div>
                <div class="widget-user-image">
                  <img
                    class="img-circle elevation-2"
                    src="img/avatar.png"
                    alt="User Avatar"
                  />
                </div>
                <div class="card-footer">
                  <div class="row" style="margin-left: 20%;">
                  <button class="btn btn-warning">Add Profile</button> | <button class="btn btn-info">Edit Profile</button>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
              <!-- /.widget-user -->

            <div class="col-md-7">
              <!-- Widget: user widget style 2 -->
              <div class="card card-widget widget-user-2 shadow-sm">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-warning">
                  <div class="widget-user-image">
                    <img
                      class="img-circle elevation-2"
                      src="img/avatar.png"
                      alt="User Avatar"
                    />
                  </div>
                  <!-- /.widget-user-image -->
                  <h3 class="widget-user-username">Yididiya kassahun</h3>
                  <h5 class="widget-user-desc">Lead Developer</h5>
                </div>
                <div class="card-body p-1">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                      Developer Name
                        <span class="float-right">Yididiya kassahun</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                       Email<span class="float-right badge bg-info">yididiya@gmail.com</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                      Phone Number
                        <span class="float-right">0923424254</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">
                      Company Name
                        <span class="float-right">Horizon Apps</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- /.widget-user -->
            </div>
           </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('includes/footer.ejs') %>
  </div>
</body>
