 <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img
                src="/img/avatar3.png"
                class="img-circle elevation-2"
                alt="#"
              />
            </div>
            <div class="info">
              <a href="#" class="d-block"><%= user.fullName %></a>
            </div>
          </div>

          <!-- SidebarSearch Form -->
          <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
              <input
                class="form-control form-control-sidebar"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-sidebar">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a href="/user" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Home
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/games" class="nav-link">
                  <i class="nav-icon fas fa-gamepad"></i>
                  <p>
                    Games
                  </p>
                </a>
              </li>
               <!-- <li class="nav-item">
                <a href="/children" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Children
                  </p>
                </a>
              </li> -->
              <li class="nav-item">
                <a href="/editors.choices" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Editor Choice
                  </p>
                </a>
              </li>
              <li class="nav-item menu-open">
                <a href="/app.cart" class="nav-link">
                  <i class="nav-icon fa fa-shopping-cart"></i>
                  <p>
                  App Cart
                  </p>
                </a>
              </li>
                <li class="nav-item menu-open">
                <a href="/newReleases" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                New Releases
                    <span class="badge badge-info right">6</span>
                  </p>
                </a>
              </li>   
          </nav>
          <!-- /.sidebar-menu -->
        </div>