 <div class="sidebar">
          <!-- Sidebar user (optional) -->
           <div  style="background: url('img/habesha.jpg');background-repeat: no-repeat; background-size: cover;
              object-fit:cover;margin-top:20px ;">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img
                src="img/avatar.png"
                class="img-circle elevation-2"
                alt="#"
              />
            </div>
            <div class="info">
              <a href="#" class="d-block">Alex</a>
            </div>
          </div>
           </div>
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a href="/admin" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/reviewerList" class="nav-link">
                  <i class="nav-icon fas fa-eye"></i>
                  <p>
                    Reviewers
                  </p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/developersList" class="nav-link">
                  <i class="nav-icon fas fa-hammer"></i>
                  <p>
                    Developers
                  </p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/ordinaryUsers" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Ordinary Users
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/admin.policy" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                    Policy & Regulation
                  </p>
                </a>
              </li>
                <li class="nav-item">
                <a href="/admin.questionary" class="nav-link">
                  <i class="nav-icon fas fa-question"></i>
                  <p>
                  App Questionaries
                  </p>
                </a>
              </li>
          </nav>
          <!-- /.sidebar-menu -->
        </div>