 <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div  style="background: url('img/habesha.jpg');background-repeat: no-repeat; background-size: cover;
              object-fit:cover;margin-top:20px ;">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image" style="margin-top: 10px;">
              <img
                src="img/avatar.png"
                class="img-circle elevation-2"
                alt="#"
              />
            </div>
            <div class="info">
              <a href="#" class="d-block">Alex</a>
            </div>
          </div>
          </div>

          <!-- SidebarSearch Form -->
          <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
              <input
                class="form-control form-control-sidebar"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-sidebar">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item">
                <a href="/developer" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item menu-open" >
                <a href="#" class="nav-link active">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Start Publishing
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                  <ul class="nav nav-treeview">
                <li class="nav-item">
                <a href="/create.app" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Create App</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/store.listing" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Store Listing</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/apk.detail" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>App APK Detail</p>
                </a>
              </li>
             
              <li class="nav-item">
                <a href="/app.questionary" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Questionaries</p>
                </a>
              </li>
            </ul>
              </li>
              <li class="nav-item">
                <a href="/report" class="nav-link">
                  <i class="nav-icon fas fa-chart-line"></i>
                  <p>
                    General Report
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/policies" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                    Policy & Regulation
                  </p>
                </a>
              </li>
               
          </nav>
          <!-- /.sidebar-menu -->
        </div>